<div id="left02">
  <div class="sideWrap">
    <h4><p><%= @pan2 -%></p></h4>
    <div class="sideMenu">
      <ul>
        <li><%= link_to "アプリ一覧", new_manage_mixi_app_path %></li>
      </ul>
    </div>
	
	</div>
</div><!-- /left02 -->
