<%- @pan1="管理者設定" -%><%- @pan2='mixiアプリ' -%><%- @pan3="詳細" -%>

<% content_for(:header_title) do %>
「<%= @mixi_app.name %>」詳細
<% end %>

<h3>「<%= @mixi_app.name %>」詳細</h3>

<table class="lineColorL" style="width:609px;">
	<tr>
		<th width="20%">ユーザ数</th>
		<td><%=h @mixi_app.mixi_users.count %></td>
	</tr>
	<tr>
		<th width="20%">総退会者数</th>
		<td></td>
	</tr>
	<tr>
		<th width="20%">平均配布数</th>
		<td></td>
	</tr>
</table>
<br/>
<h3>月間アクティブ利用ユーザ遷移</h3>

	