<%= error_messages_for 'mixi_inflow_master' %>

<table class="lineColorL" style="width:609px;">
<tbody>
  <tr>
    <th style="width:140px;"><%= t('activerecord.attributes.mixi_inflow_master.route_name') %></th>
    <td><%= text_field 'mixi_inflow_master', 'route_name' %></td>
  </tr>
</tbody>
</table>
<%= hidden_field 'mixi_inflow_master', 'route_key' %>