<div id="left02">
  <div class="sideWrap">
    <h4><p>mixiアプリ</p></h4>
    <div class="sideMenu">
      <ul>
		<li><%= link_to "ユーザ統計", manage_mixi_users_path %></li>
        <li><%= link_to "アクティブ率", manage_mixi_active_histories_path %></li>
      </ul>
    </div>
	
	</div>
</div><!-- /left02 -->