<a name="bottom" id=bottom></a>
<div><img src="http://img.mixi.jp/img/dot0.gif" height="5" /></div>
<div style="text-align:center;background:#edeae4;"><a href="http://ma001.mixi.jp/home.pl?" accesskey=0><img src="http://img.mixi.jp/img/emoji/175.gif" alt="0" width="16" height="16" class="emoji" border="0">ﾎｰﾑ</a> / <a href="#top" accesskey=2><img src="http://img.mixi.jp/img/emoji/167.gif" alt="2" width="16" height="16" class="emoji" border="0">上へ</a> / <a href="#bottom" accesskey=8><img src="http://img.mixi.jp/img/emoji/173.gif" alt="8" width="16" height="16" class="emoji" border="0">下へ</a></div>
  <span style="color:#ff9900;">◆</span>ｻﾎﾟｰﾄﾒﾆｭｰ<br />
  <span style="color:#ff9900;">├</span><a href="http://ma001.mixi.jp/help2.pl?">ご利用上の注意事項</a><br />
  <span style="color:#ff9900;">├</span><a href="http://ma001.mixi.jp/help.pl?">ﾍﾙﾌﾟ</a> <span style="color:#ff9900;">/</span> <a href="http://ma001.mixi.jp/inquiry.pl?&ref=%2Frelease_info.pl">お問い合わせ･通報</a><br />
  <span style="color:#ff9900;">└</span><a href="http://ma001.mixi.jp/logout.pl?">ﾛｸﾞｱｳﾄ</a><br />
<div style="text-align:center;background:#ff9900;color:#ffffff;">
<span style="color:#ffffff;">(c)<a href="http://ma001.mixi.jp/about_us.pl?"><span style="color:#ffffff;">mixi,Inc.</span></a></span>
</div>
