<![CDATA[

	<%= javascript_include_tag("home.js") %>

	<script type="text/javascript">
	gadgets.util.registerOnLoadHandler(init);
	</script>

	<!-- The code for Preview view is here. -->
	<div>Home view for MixiApp.</div>
]]>
