<![CDATA[

	<%= javascript_include_tag("preview.js") %>

	<script type="text/javascript">
	gadgets.util.registerOnLoadHandler(init);
	</script>

	<!-- The code for Preview view is here. -->
	<div>Preview view for MixiApp.</div>
	
]]>