<![CDATA[

	<%= javascript_include_tag("profile.js") %>

	<script type="text/javascript">
	gadgets.util.registerOnLoadHandler(init);
	</script>

	<!-- The code for Profile view is here. -->
	<div>Profile view for MixiApp.</div>
	
]]>